section {
	img {
		border: 0 !important;
	}

	pre {
		box-shadow: none !important;
		width: 100% !important;

		.hljs {
			box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
		}
	}

	&.content-slide {
		text-align: left;
		top: 0 !important;
	}

	&.shipping-containers {
		padding: 0 !important;
		top: -10px !important;

		img {
			margin-top: 0 !important;
		}
	}

	&.union-file-system {
		img {
			background: none !important;
			box-shadow: none !important;
		}		
	}

	&.image-slide {
		padding: 0 !important;

		img {
			margin: 0 !important;
		}
	}

	&.title-slide {
		text-align: left;
		top: 0 !important;

		img {
			background: none !important;
			box-shadow: none !important;
		}
	}

	&.about-me {
		.content-container {
			display: flex;

			.bullet {
				margin-bottom: 25px;
			}
		}
	}

	&.dance {
		display: flex !important;
		flex-wrap: wrap;
		position: absolute;
		width: 1024px !important;
	}

	&.orchestration {
		img {
			box-shadow: none !important;
		}
	}

	.section-title {
		color: $white;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.section-subtitle {
		color: $primary;
		font-size: 60px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.page-title {
		color: $white;
		font-size: 60px;
		margin-bottom: 20px;
		text-transform: capitalize;
	}
}

.final-image-container {
	img {
		background-color: transparent !important;
		box-shadow: none !important;
	}

	.banana {
		margin-left: 100px;
		margin-top: 50px;
		position: absolute;
		width: 200px;
	}

	.whale {
		margin-top: 100px;
		width: 600px;
	}
}

.slide-background {
	&.present {
		background-size: 100% 100%;
	}
}

.reveal {
	.slides {
		img {
			background: none;
		}
	}
}
